@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('../fonts/ralewayregular.woff2') format('woff2'), url('../fonts/ralewayregular.woff') format('woff'), url('../fonts/ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semibold';
    src: local('Open Sans'), local('OpenSans-Semibold'), url('../fonts/opensanssemibold.woff2') format('woff2'), url('../fonts/opensanssemibold.woff') format('woff'), url('../fonts/opensanssemibold.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.4 !important;
    color: #a5a5a5;
    background-color: #f5f5f5;
}

body {
    overflow: auto; /* добавить полосу прокрутки */
}

h1, h2, h3, h4, h5, h6 {
    color: #343a40;
}

.tab-pane.active {
    animation: fade 0.5s linear;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

section {
    padding: 5em 0;
}

.nav-tabs {
    border-bottom: 0 !important;
}

.nav-link {
    font-family: 'Open Sans Semibold', sans-serif;
}

.navbar-brand img {
    width: 80px;
    padding: 10px 0;
}

.nav-item {
    padding: 0 15px;
}

.nav-tabs--left .nav-link {
    width: 100px;
    height: 100px;
    border-radius: 0;
    border: 1px solid #cdcdcd;
    background-color: #070707;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #f5f5f5;
}

.nav-tabs--vertical .nav-link.active,
.nav-tabs--vertical .nav-link:hover {
    color: #f5f5f5;
    background-color: #ff8b38;
}

.menu {
    width: 100%;
}

.welcom-area, .banner-area, .tb {
    background: rgb(10, 16, 30) url(../images/bg-min.jpg) no-repeat right center/cover;
}

.hr-shadow {
    margin: 20px 0;
    padding: 0;
    height: 0px;
    border: none;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.bt-white {
    border-top: 2px solid #f5f5f5;
}

.bt-orange {
    border-top: 2px solid #ff8b38;
}

.hr-width {
    width: 15%;
}

.btn {
    border-radius: 0 !important;
}

.bsdw {
    box-shadow: 0 0 5px #8c8b8b;
    border-radius: 3px;
}

.bg-secondary {
    background-color: darkgray !important;
}

span {
    color: #ff8b38;
}

.bg-dark {
    background-color: #070707 !important;
}

.bg-orange {
    background-color: #ff8b38;
}

.bg-orange:hover {
    background-color: #ffb481;
}

.btn-circle {
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    line-height: 44px;
    align-items: center;
    font-size: 22px;
    color: #ff8b38;
}

.btn-circle:hover {
    background-color: #ff8b38;
    color: #f5f5f5;
}

.btn-border-orange {
    border: 2px solid #ff8b38;
}

.line-orange {
    width: 70px;
    height: 2px;
    margin: 20px 0;
    background: #ff8b38;
}

.circle {
    border-radius: 50%;
}

input {
    border: 0 !important;
    border-bottom: 1px solid #cdcdcd !important;
    border-radius: 0 !important;
}

::-webkit-input-placeholder {
    color: #cdcdcd !important;
}

::-moz-placeholder {
    color: #cdcdcd !important;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #cdcdcd !important;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #cdcdcd !important;
}

.text-icons {
    color: #cdcdcd !important;
    font-size: 60px;
    padding: 0 20px;
    display: inline-block;
}

.text-icons:hover, .text-icons:focus {
    color: #adadad !important;
}

#button-up {
    display: none;
    right: 20px;
    margin: 0;
    position: fixed;
    bottom: 50px;
    outline: none;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0 15px;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    box-shadow: 0 2px 4px #999;
    -webkit-box-shadow: 0 2px 4px #999;
    -moz-box-shadow: 0 2px 4px #999;
    -o-box-shadow: 0 2px 4px #999;
    cursor: pointer;
    z-index: 999;
}

.shadow-down {
    box-shadow: 4px 0 4px #000;
    -webkit-box-shadow: 4px 0 4px #000;
    -moz-box-shadow: 4px 0 4px #000;
    -o-box-shadow: 4px 0 4px #000;
}

.flex-style-sublist {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}

.flext-style-sublist-icon {
    margin: 15px;
}

.flex-style-sublist-text {
    flex: 1 1 50%;
}

@media all and (min-device-width: 640px) {

    .welcom-area, .banner-area, .tb {
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .tb {
        display: table;
    }

    .tbc {
        display: table-cell;
        vertical-align: middle;
    }

    main {
        min-height: 100%;
    }

    .text-icons:last-child {
        padding-right: 0;
    }

    .nav-tabs--vertical {
        display: flex;
        flex-flow: column nowrap;
    }

    .mt-sm-3 {
        margin-top: 0;
    }

}

@media all and (max-device-width: 640px) {
    body {
        font-size: 12px;
    }

    .h1, h1 {
        font-size: 1.5rem;
    }

    .welcom-area, .banner-area, .tb {
        position: relative;
    }

    .hr-width {
        width: 100%;
    }

    .tbc {
        padding: 2em 0;
        text-align: center;
    }

    .nav-tabs--vertical {
        flex-flow: row nowrap;
    }

    .nav-tabs--left {
        margin: 0 auto;
    }

    .nav-tabs--left .nav-item {
        padding: 0;
    }

    .mt-sm-3 {
        margin-top: 3rem;
    }
}